# Dependencies
node_modules

# Build output
dist
dist-ssr
coverage

# Environment files
.env
.env.local
.env.production

# Logs
*.log

# OS files
.DS_Store

# Package files
package-lock.json
pnpm-lock.yaml
yarn.lock

